# Laravel & PHP
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
.env
.env.*
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# System Files
.DS_Store
Thumbs.db
.phpunit.result.cache
.phpactor.json
.phpunit.cache
/.idea
/.vscode
/.fleet
/.zed

# Build tools
/public/build
# Ignore any windows-generated paths
C:\xampp\

